@model lpnu.Models.Professor
@{
	ViewData["Title"] = "Create Professor";
}
<div class="form-container">
	<h2>Add New Teacher</h2>

	<form asp-action="CreateItemForStaff" method="post">
		<div>
			<label asp-for="FirstName">First Name</label>
			<input asp-for="FirstName" class="form-control" />
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="LastName">Last Name</label>
			<input asp-for="LastName" class="form-control" />
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="Patronymic">Middle Name</label>
			<input asp-for="Patronymic" class="form-control" />
			<span asp-validation-for="Patronymic" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="ProfilePath">Profile URL</label>
			<input asp-for="ProfilePath" class="form-control" />
			<span asp-validation-for="ProfilePath" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="PhotoPath">Photo URL</label>
			<input asp-for="PhotoPath" class="form-control" />
			<span asp-validation-for="PhotoPath" class="text-danger"></span>
		</div>
		<button type="submit">Submit</button>
	</form>
</div>