@model lpnu.Models.EducationProgram

@{
	ViewData["Title"] = "Create Education Program";
}
<div class="form-container">
	<h2>Create Education Program</h2>
	<form asp-action="CreateItemForEducationProgram" method="post">
		<div class="form-group">
			<label asp-for="Title" class="control-label"></label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Description" class="control-label"></label>
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Level" class="control-label"></label>
			<select asp-for="Level" class="form-control" asp-items="Html.GetEnumSelectList<lpnu.Models.EducationLevel>()"></select>
			<span asp-validation-for="Level" class="text-danger"></span>
		</div>
		<button type="submit">Create Education Program</button>
	</form>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		CKEDITOR.replace('Description');
	</script>
}