@model lpnu.Models.Company
@{
	ViewData["Title"] = "Create Company";
}
<div class="form-container">
	<h2>Add New Company</h2>
	<form asp-controller="Education" asp-action="CreateItemForCompany" method="post">
		<div>
			<label asp-for="Name">Company Name</label>
			<input type="text" asp-for="Name" placeholder="Enter..." class="form-control" required />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="LogoPath">Logo Path</label>
			<input type="text" asp-for="LogoPath" placeholder="Enter..." class="form-control" required />
			<span asp-validation-for="LogoPath" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="FlagPath">Flag Path</label>
			<input type="text" asp-for="FlagPath" placeholder="Enter..." class="form-control" required />
			<span asp-validation-for="FlagPath" class="text-danger"></span>
		</div>
		<button type="submit">Create Company</button>
	</form>
</div>