@font-face {
    font-family: 'Mr.Amazin';
    src: url('Mister.woff2') format('woff2'),
        url('Mister.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

